body#homepgbg {
    background-image: url("estmbk3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#goal-paragraph,
#community-paragraph,
#rules-paragraph,
#welcome-paragraph,
#goal {
    background-color: rgba(204, 204, 204, 0.75);
    margin-bottom: auto;
    margin-right: -5px;    
}

#welc {
    text-align: center;
    background-color: rgba(204, 204, 204, 0.75);
    padding: 10px;
}

#welcmsg {
    background-color: rgba(204, 204, 204, 0.75);
    padding: 10px;
}
