#about {
    padding: 20px;
    margin-bottom: auto;
    margin-right: -5px;    
}

#mission,
#vision,
#school-song,
#history {
    background-color: rgba(204, 204, 204, 0.75);
    margin-bottom: auto;  
}

#location {
    margin-top: 20px;
    background-color: rgba(204, 204, 204, 0.75);
}

body#aboutbgpg {
    background-image: url("estmbk2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#abt{
    background-color: rgba(169, 169, 169, 0.75);
    text-align: center;
}

iframe,
video{
    margin-left: 20px;
}
